/* Common styles */
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

/* FOOTER SETTINGS */

.footer {
  height: 400px;
  background-color: #11122b;
  color: #cbcbcb;
  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  /* this way of padding works clockwise, can take 4 arguments */
  padding: 10px 0px 10px 0px;
  /* padding-left: 40%; */
  font-family: "Ubuntu Condensed", sans-serif;
  margin-top: -4px;
}

.footer > .central-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 48px;
  width: 500px;
}

.footer > .central-column > .working-hours {
  text-align: center;
  transition: 1s;
}

.footer > .central-column > .working-hours:hover {
  color: #cea135;
}

.footer > .central-column > .link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 60px; */
  /* padding-bottom: 40px; */
}

.footer > .central-column > .link-wrapper > .nav-link {
  width: 70px;
  text-align: center;
}

.footer > .central-column > .banner {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer > .central-column > .banner img {
  width: 150px;
  height: 100%;
  opacity: 0.5;
  
}

.working-hours {
  align-items: center;
}

.footer > .central-column > .social-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .footer > .central-column > .social-wrapper > .social {
  padding: 50px;
} */

.footer > .central-column > .social-wrapper > .social i {
  font-size: 1.5em;
}

.footer > .central-column > .copyright-wrapper {
  text-align: center;
  font-size: 10px;
  /* padding-bottom: 60px; */
}
